<head>
  <title>resolutions</title>
</head>

<body>
  <!--
  <h1>Welcome to Meteor! You are doing resolution project right now</h1>
  i have commented these two templated . primarily working on the "resolution" template

  {{> hello}}
  {{> info}}
  -->
  <div class="container">
    <header>
      <h1>Monthly Resolution</h1>
      <label class="hide-finished">
        <input type="checkbox" checked="{{hideFinished}}">
        Hide the fiinshed resolution
      </label>
      <!--  Adding code below (if condition) to give only user option to submit the resolution-->
      {{#if currentUser}}
      <form class="new-resolution">
        <input type="text" name="title" placeholder="A new Resolution">
        >
        <input type="submit" name="Submit">
      </form>
      {{/if}}
    </header>
    <ul>           
      <!--{{ resolutions }}     resolutions is an array created in js file. this will show nothing but [object object] -->
      {{#each resolutions}}       <!-- here for each entry in resolutions , template resolution will be shown -->
        <!--<li>{{title}}</li> // if we write this we will get the title from each item of the array-->
        {{> resolution}} 
    
      {{/each}}
    </ul>
  {{> loginButtons}}
  </div>  
</body>
<template name = "resolution">    
      <!--<li> commented this li tag to give a conditional class as below-->
      <li class="{{#if checked}} checked {{/if}} ">  <!-- if loop gives the class of li = "checked" and  its feature is there in-->
      <input type="checkbox" checked="{{checked}}" class="toggle-checked">
      <span class="text">{{title}}</span>
      <!-- {{title}}     we have just commented this and put inside the span tag...-->      
      {{#if currentUser}}
      <button class="delete">Remove</button>
      {{/if}}
      </li>      <!-- this title will be fetched from the java script -->    
</template>






























<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>


