/* CSS declarations go here */

@import 'nib'

html
  box-sizing: border-box;
 
*, *:before, *:after {
  box-sizing: inherit;
}
 
 
body
  font-family: sans-serif;
  font-size: 16px;
  background: #333;
 
.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
 
header {
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
.new-resolution input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 50%;
  padding-right: 80px;
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
 
.new-resolution input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;;
}
 
li {
  position: relative;
  list-style: none;
  padding: 20px 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}